@model Looks.Models.Budget
@{
    ViewBag.Title = "Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    $(document).ready(function () {

        $("#id_coats_jackets").mousemove(function () {
            $("#coats_jackets_value").text($(this).val());
            $("#CoatJacket").val($(this).val());
        });
        $("#id_blazers").mousemove(function () {
            $("#blazers_value").text($(this).val());
            $("#Blazers").val($(this).val());
        });
        $("#id_suits").mousemove(function () {
            $("#suits_value").text($(this).val());
            $("#Suits").val($(this).val());
        });
        $("#id_sweaters").mousemove(function () {
            $("#sweaters_value").text($(this).val());
            $("#Sweaters").val($(this).val());
        });
        $("#id_shirts").mousemove(function () {
            $("#shirts_value").text($(this).val());
            $("#Shirts").val($(this).val());
        });
        $("#id_tshirts").mousemove(function () {
            $("#tshirts_value").text($(this).val());
            $("#TShirts").val($(this).val());
        });
        $("#id_jeans").mousemove(function () {
            $("#jeans_value").text($(this).val());
            $("#Jeans").val($(this).val());
        });
        $("#id_trousers_chinos").mousemove(function () {
            $("#trousers_chinos_value").text($(this).val());
            $("#TrousersChinos").val($(this).val());
        });
        $("#id_shoes").mousemove(function () {
            $("#shoes_value").text($(this).val());
            $("#Shoes").val($(this).val());
        });
        $("#id_shorts").mousemove(function () {
            $("#shorts_value").text($(this).val());
            $("#Shorts").val($(this).val());
        });
    });

</script>
<h4>How much do you usually spend on&nbsp;these&nbsp;items?</h4>
<p class="helper-text">
    Most of the items you'll see on Thread are tailored to you: your preferences, tastes, sizes, existing wardrobe. And&nbsp;importantly, we’ll only show items that match your&nbsp;budget.
</p>


<div class="registration-main">
    >*@
    <form class="registration-step-price-ranges" method="POST">
        <div class="sliders-container">
            <div class="">
                <label>Coats &amp; Jackets:</label>
                <div class="slider">

                    <input type="range" id="id_coats_jackets" class="logarithmic-range" min="500" max="15000" value="6000" step="500">
                    @Html.HiddenFor(m => m.CoatJacket);
                    <label class="value">
                        ₹<span id="coats_jackets_value" class="slider-value">6000</span>
                    </label>
                </div>
            </div>
            <div class="">
                <label>Blazers:</label>
                <div class="slider">

                    <input type="range" id="id_blazers" class="logarithmic-range" min="500" max="15000" value="4500" step="500">
                    @Html.HiddenFor(m => m.Blazers)
                    <label class="value">
                        ₹<span id="blazers_value" class="slider-value">4500</span>
                    </label>
                </div>
            </div>
            <div class="">
                <label>Suits:</label>
                <div class="slider">

                    <input type="range" id="id_suits" class="logarithmic-range" min="2500" max="15000" value="7500" step="500">
                    @Html.HiddenFor(m => m.Suits)
                    <label class="value">
                        ₹<span id="suits_value" class="slider-value">7500</span>
                    </label>
                </div>
            </div>
            <div class="">
                <label>Knitwear &amp; Sweaters:</label>
                <div class="slider">

                    <input type="range" id="id_sweaters" class="logarithmic-range" min="500" max="15000" value="2000" step="200">
                    @Html.HiddenFor(m => m.Sweaters)
                    <label class="value">
                        ₹<span id="sweaters_value" class="slider-value">2000</span>
                    </label>
                </div>
            </div>
            <div class="">
                <label>Shirts:</label>
                <div class="slider">

                    <input type="range" id="id_shirts" class="logarithmic-range" min="500" max="15000" value="1500" step="200">
                    @Html.HiddenFor(m => m.Shirts)
                    <label class="value">
                        ₹<span id="shirts_value" class="slider-value">1500</span>
                    </label>
                </div>
            </div>
            <div class="">
                <label>T-shirts &amp; Polos:</label>
                <div class="slider">

                    <input type="range" id="id_tshirts" class="logarithmic-range" min="500" max="15000" value="900" step="100">
                    @Html.HiddenFor(m => m.TShirts)
                    <label class="value">
                        ₹<span id="tshirts_value" class="slider-value">900</span>
                    </label>
                </div>
            </div>
            <div class="">
                <label>Jeans:</label>
                <div class="slider">

                    <input type="range" id="id_jeans" class="logarithmic-range" min="500" max="15000" value="1700" step="200">
                    @Html.HiddenFor(m => m.Jeans)
                    <label class="value">
                        ₹<span id="jeans_value" class="slider-value">1700</span>
                    </label>
                </div>
            </div>
            <div class="">
                <label>Trousers &amp; Chinos:</label>
                <div class="slider">

                    <input type="range" id="id_trousers_chinos" class="logarithmic-range" min="500" max="15000" value="1500" step="200">
                    @Html.HiddenFor(m => m.TrousersChinos)
                    <label class="value">
                        ₹<span id="trousers_chinos_value" class="slider-value">1500</span>
                    </label>
                </div>
            </div>
            <div class="">
                <label>Shorts:</label>
                <div class="slider">

                    <input type="range" id="id_shorts" class="logarithmic-range" min="500" max="15000" value="800" step="100">
                    @Html.HiddenFor(m => m.Shorts)
                    <label class="value">
                        ₹<span id="shorts_value" class="slider-value">800</span>
                    </label>
                </div>
            </div>
            <div class="">
                <label>Shoes:</label>
                <div class="slider">

                    <input type="range" id="id_shoes" class="logarithmic-range" min="500" max="15000" value="1800" step="200">
                    @Html.HiddenFor(m => m.Shoes)
                    <label class="value">
                        ₹<span id="shoes_value" class="slider-value">1800</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-actions ">
            <input type="submit" class="btn btn-primary" value="Next">
        </div>
    </form>
</div>