@model Looks.Models.FittingInformation
@{
    ViewBag.Title = "Sizes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    li {
        margin-top: 20px;
        display: grid;
    }
</style>
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $("label").click(function () {
            $("label").removeClass("checked");
            $(this).addClass("checked");
        });
        $(".js-multiple-choice").click(function () {
            if ($(this).hasClass("selected")) {
                $(this).removeClass("selected");
                $('#' + $(this).data("item-name")).val('False');

            } else {
                $(this).addClass("selected");
                $('#' + $(this).data("item-name")).val('True');
            }
        });
    });
</script>
<h4>What sizes do you wear?</h4>
<p class="helper-text">
    This will (obviously) help your stylist recommend&nbsp;clothes&nbsp;that'll&nbsp;fit.
</p>
<div class="registration-main">
    <form class="registration-step-sizes" method="POST">
        <label>Tops:</label>
        <div class="segmented-control js-segmented-control">
            <ul>

                <li>
                    <label for="xxs">
                        @Html.RadioButtonFor(x => x.TopSize, Looks.Models.TopSizes.XXS)
                        XXS
                    </label>
                </li>
                <li>
                    <label for="xs">
                        @Html.RadioButtonFor(x => x.TopSize, Looks.Models.TopSizes.XS)
                        XS
                    </label>
                </li>
                <li>
                    <label for="s">
                        @Html.RadioButtonFor(x => x.TopSize, Looks.Models.TopSizes.S)
                        S
                    </label>
                </li>
                <li>
                    <label for="m">
                        @Html.RadioButtonFor(x => x.TopSize, Looks.Models.TopSizes.M)
                        M
                    </label>
                </li>
                <li>
                    <label for="l">
                        @Html.RadioButtonFor(x => x.TopSize, Looks.Models.TopSizes.L)
                        L
                    </label>
                </li>
                <li>
                    <label for="xl">
                        @Html.RadioButtonFor(x => x.TopSize, Looks.Models.TopSizes.XL)
                        XL
                    </label>
                </li>
                <li>
                    <label for="xxl">
                        @Html.RadioButtonFor(x => x.TopSize, Looks.Models.TopSizes.XXL)
                        XXL
                    </label>
                </li>
            </ul>
        </div>
        <label>Waist size:</label>
        @Html.DropDownListFor(m => m.WaistSize, (List<SelectListItem>)ViewBag.WaistSizes)

        <label>Leg size:</label>
        <ul id="id_bottoms_length">
            <li><label for="id_bottoms_length_0"><input id="LegLenght" group="leg" name="LegLenght" type="checkbox" value="30"> Short 30"</label></li>
            <li><label for="id_bottoms_length_1"><input id="LegLenght" group="leg" name="LegLenght" type="checkbox" value="32"> Regular 32"</label></li>
            <li><label for="id_bottoms_length_2"><input id="LegLenght" group="leg" name="LegLenght" type="checkbox" value="34"> Long 34"</label></li>
        </ul>
        <small>
            If you're between leg lengths, feel free to select multiple sizes. If you’re not sure, go for “Regular”.
        </small>
        <label>Shoe size:</label>
        @Html.DropDownListFor(m => m.ShoeSize, (List<SelectListItem>)ViewBag.ShoesSizes)
        @*<select id="id_shoes" name="shoes">
                <option value="dont_know">I don't know</option>
                <option value="uk6">UK 6 - US 7 - EU 40</option>
                <option value="uk7">UK 7 - US 8 - EU 41</option>
                <option value="uk8">UK 8 - US 9 - EU 42</option>
                <option value="uk9">UK 9 - US 10 - EU 43</option>
                <option value="uk10">UK 10 - US 11 - EU 44.5</option>
                <option value="uk11">UK 11 - US 12 - EU 45.5</option>
                <option value="uk12">UK 12 - US 13 - EU 47</option>
            </select>*@
        <label>Jacket size:</label>
        @Html.DropDownListFor(m => m.JacketSize, (List<SelectListItem>)ViewBag.JacketSizes)
        @*<select id="id_jackets" name="jackets">
                <option value="dont_know">I don't know</option>
                <option value="xxs">XXS 32-34</option>
                <option value="xs">XS 34-36</option>
                <option value="s">S 36-38</option>
                <option value="m">M 38-40</option>
                <option value="l">L 40-42</option>
                <option value="xl">XL 42-44</option>
                <option value="xxl">XXL 44-46</option>
            </select>*@

        <label>Special Features:</label>
        <div class="size-scenarios-container">
            <ul class="image-select-group image-select-group-with-labels image-select-group-with-outer-borders">
                <li>
                    <a class="js-multiple-choice" data-item-name="IsBroadSholders">
                        <img src="../Content/Images/Signup/Sizes/broad_shoulders.png">
                        <label>Broad shoulders</label>
                    </a>
                    <input data-val="true" id="IsBroadSholders" name="IsBroadSholders" type="hidden" value="False">
                </li>
                <li>
                    <a class="js-multiple-choice" data-item-name="IsBroadChest">
                        <img src="../Content/Images/Signup/Sizes/icon_broad_chest.png">
                        <label>Broad chest</label>
                    </a>
                    <input data-val="true" id="IsBroadChest" name="IsBroadChest" type="hidden" value="False">

                </li>
                <li>
                    <a class="js-multiple-choice" data-item-name="IsLongArms" data-form-value="long_arms">
                        <img src="../Content/Images/Signup/Sizes/long_arms.png">
                        <label>Long arms</label>
                    </a>
                    <input data-val="true" id="IsLongArms" name="IsLongArms" type="hidden" value="False">

                </li>
                <li>
                    <a class="js-multiple-choice" data-item-name="IsLongLegs" data-form-value="long_legs">
                        <img src="../Content/Images/Signup/Sizes/long_legs.png">
                        <label>Long legs</label>
                    </a>
                    <input data-val="true" id="IsLongLegs" name="IsLongLegs" type="hidden" value="False">

                </li>
                <li>
                    <a class="js-multiple-choice" data-item-name="IsMuscularThighs" data-form-value="short_legs">
                        <img src="../Content/Images/Signup/Sizes/short_legs.png">
                        <label>Short legs</label>
                    </a>
                    <input data-val="true" id="IsMuscularThighs" name="IsMuscularThighs" type="hidden" value="False">
                </li>
                <li>
                    <a class="js-multiple-choice" data-item-name="IsMuscularThighs" data-form-value="muscular_thighs">
                        <img src="../Content/Images/Signup/Sizes/muscular_thighs.png">
                        <label>Muscular thighs</label>
                    </a>
                    <input data-val="true" id="IsMuscularThighs" name="IsMuscularThighs" type="hidden" value="False">
                </li>
                <li>
                    <a class="js-multiple-choice" data-item-name="IsTammy" data-form-value="big_around_the_middle">
                        <img src="../Content/Images/Signup/Sizes/big_around_the_middle.png">
                        <label>Bigger around the middle</label>
                    </a>
                    <input data-val="true" id="IsTammy" name="IsTammy" type="hidden" value="False">
                </li>
                <li>
                    <a class="js-multiple-choice" data-item-name="IsVerySlim" data-form-value="very_slim">
                        <img src="../Content/Images/Signup/Sizes/very_slim.png">
                        <label>Very slim</label>
                    </a>
                    <input data-val="true" id="IsVerySlim" name="IsVerySlim" type="hidden" value="False">
                </li>
                <li>
                    <a class="js-multiple-choice" data-item-name="IsBetweenSizes" data-form-value="between_sizes">
                        <img src="../Content/Images/Signup/Sizes/between_sizes.png">
                        <label>Between sizes</label>
                    </a>
                    <input data-val="true" id="IsBetweenSizes" name="IsBetweenSizes" type="hidden" value="False">
                </li>
            </ul>
        </div>
        @*<div class="hidden">
                <select multiple="multiple" id="id_size_scenarios" name="size_scenarios">
                    <option value="broad_shoulders">Broad shoulders</option>
                    <option value="broad_chest">Broad chest</option>
                    <option value="long_arms">Long arms</option>
                    <option value="long_legs">Long legs</option>
                    <option value="short_legs">Short legs</option>
                    <option value="muscular_thighs">Muscular thighs</option>
                    <option value="big_around_the_middle">Bigger around the middle</option>
                    <option value="very_slim">Very slim</option>
                    <option value="between_sizes">Between sizes</option>
                </select>
            </div>*@
        <div class="form-actions ">
            <button type="submit" data-allow-empty="" class="btn btn-primary">Next</button>
        </div>
    </form>

</div>
